:host {
  color: white;
}

.trigger {
  border: 1px solid white;
  padding: 5px;
  border-radius: 20px;
  background: #00000074;
  font-size: 12px;
  &:hover {
    background: #0000009e;
  }
  cursor: pointer;
}

.options {
  display: flex;
  flex-direction: column;
  background-color: gray;
  border-radius: 6px;
  color: white;
  overflow: auto;

  transition:
    opacity 0.3s,
    translate 0.3s;

  @starting-style {
    translate: 0 -10px;
    opacity: 0;
  }
}
