<mw-hover-hint [hintBody]="hint"
               [hintPos]="hintPos()">
  <div class="ability spell-icon"
       (click)="clicked.emit(spell())"
       [class.disabled]="disabled"
       [class.current-ability]="isCurrentSpell()"
       [ngStyle]="{ 'color': uiSpellIcon().iconClr , 'background': uiSpellIcon().bgClr }">
    <mw-ra-icon [icon]="uiSpellIcon().icon" />

    <!-- todo: check this -->
    <i class="ra light"
       [class]="'ra-' + uiSpellIcon().icon"></i>
  </div>

  <ng-template #hint>
    <div style="min-width: 170px; max-width: 200px;">
      <div style="display: flex;">
        <div class="tooltip-icon"
             [ngStyle]="{ 'color': uiSpellIcon().iconClr , 'background': uiSpellIcon().bgClr }">
          <mw-ra-icon [icon]=" uiSpellIcon().icon" />
        </div>

        <div style="padding: 4px;">
          <div style="font-size: 14px;">{{spell().name}}</div>
          <div style="font-size: 12px;">Level: {{spell().currentLevel}}</div>
          <div style="font-size: 12px;">Mana Cost: {{spell().currentManaCost}}</div>
        </div>
      </div>

      <div style=" font-size: 12px; padding: 4px;">
        <mw-spell-description [spell]="spell()"
                              [player]="player()"
                              [hero]="hero()" />
      </div>
    </div>
  </ng-template>
</mw-hover-hint>
