<div>
  {{ curPlayerState.state.get().playerCurrentState }}
</div>

<div class="abilities-list">
  <div class="cd-icon">
    @if (curPlayerState.state.get().areSpellsOnCooldown) {
      <mw-ra-icon
        icon="hourglass"
        />
    }
  </div>

  @for (spell of currentPlayer.hero.spells; track spell) {
    <mw-spell-button
      [spell]="spell"
      [player]="currentPlayer"
      [hero]="currentPlayer.hero"
    [disabled]="
      currentPlayer.hero.stats.currentMana < spell.currentManaCost ||
      curPlayerState.state.get().areSpellsOnCooldown ||
      !!spell.cooldown
    "
      [isActive]="curPlayerState.state.get().currentSpell === spell"
      (clicked)="onAbilityClick(spell)"
      />
  }
</div>
