mw-item-icon-base {
  cursor: pointer;
}

.items-menu {
  max-width: 233px;
  width: 200px;
  display: flex;
  padding: 6px;
}

.no-items {
  text-align: center;
  width: 150px;
  font-size: 12px;
  color: gray;
  padding: 10px;
}
