Resources:

<div class="property">
  <mw-img-icon icon="gold" />

  Gold:

  <input
    type="number"
    step="1"
    min="0"
    [(ngModel)]="resources().gold"
  />
</div>

<div class="property">
  <mw-img-icon icon="wood" />

  Wood:

  <input
    type="number"
    step="1"
    min="0"
    [(ngModel)]="resources().wood"
  />
</div>

<div class="property">
  <mw-img-icon icon="gems" />

  Gems:

  <input
    type="number"
    step="1"
    min="0"
    [(ngModel)]="resources().gems"
  />
</div>

<div class="property">
  <mw-img-icon icon="crystals" />

  Crystals:

  <input
    type="number"
    step="1"
    min="0"
    [(ngModel)]="resources().crystals"
  />
</div>
