@switch (barStyle()) {
  @case ("normal") {
    @if (diffBar()) {
      <div
        class="diff-bar"
        [style.width.%]="uiBarWidth()"
        [style.height.px]="barHeight()"
      ></div>
    }
    <div
      class="main-bar"
      [style.background]="color()"
      [style.width.%]="uiBarWidth()"
      [style.height.px]="barHeight()"
    ></div>
  }
  @case ("static") {
    <div
      class="main-bar"
      [style.background]="color()"
      style="width: 100%"
      [style.height.px]="barHeight()"
    ></div>
  }
}

<span
  class="values"
  [class.left]="side() === 'left'"
>
  <ng-content />
  {{ currentValue() }}
  @if (showMax()) {
    / {{ maxValue() }}
  }
  <!--
Initially, there was cur/max, but I feel it kinda distracts to have 2 visual representations
of some value (both bar and x out of n)
-->
  <!-- {{currentValue}}/{{maxValue}} -->
</span>
