@let signalInput = typedSignal();

@switch (signalInput.type) {
  @case ("checkbox") {
    <input
      [type]="signalInput.type"
      [(ngModel)]="signalInput.value"
    />
  }
  @case ("number") {
    <input
      [type]="signalInput.type"
      [(ngModel)]="signalInput.value"
      [min]="signalInput.min"
    />
  }
  @case ("text") {
    <input
      [type]="signalInput.type"
      [(ngModel)]="signalInput.value"
    />
  }
  @case ("color") {
    <input
      [type]="signalInput.type"
      [(ngModel)]="signalInput.value"
    />
  }
  @case ("dropdown") {
    <mw-dropdown [(selectedItem)]="signalInput.value">
      <div class="trigger">
        <ng-container *ngTemplateOutlet="selectedTemplate(); context: { item: signalInput.value() }" />
      </div>
      @for (item of signalInput.values(); track $index) {
        <mw-dropdown-option [value]="item">
          <ng-container *ngTemplateOutlet="itemTemplate(); context: { item }" />
        </mw-dropdown-option>
      }
    </mw-dropdown>
  }
}
