<mw-popup-base-content>
  <div popupHeader>
    Splitting Group
  </div>

  <div popupContent>
    <div>
      {{ popup.data.unitGroup.type.name }}
      {{ popup.data.unitGroup.count }}
    </div>

    <div>
      <input type="range" min="0" [max]="popup.data.unitGroup.count - 1" [value]="toSplit"
        (input)="upgadeValue($event)">
      <div>
        To split: {{ toSplit}}
      </div>
    </div>
  </div>

  <div popupButtons>
    <button mw-main-button (click)="split()">
      Split
    </button>
    <button mw-main-button (click)="closePopup()">
      Close
    </button>
  </div>
</mw-popup-base-content>
