:host {
  pointer-events: none;
  width: fit-content;
  margin: auto;
  z-index: 10000;
  display: block;

  &.contrast {
    background-color: rgba(9, 9, 9, 0.718);
    color: white;
    padding: 2px 8px;
    border-radius: 4px;
  }

  &.hidden {
    display: none;
  }
}
