@let actionHint = hint$ | async;

@if (actionHint) {
  <div style="text-align: center">
    @switch (actionHint.type) {
      @case (hintActionTypes.OnHoverEnemyCard) {
        <ng-container *ngTemplateOutlet="simple; context: { hint: actionHint }" />
      }
      @case (hintActionTypes.OnTargetSpell) {
        <ng-container *ngTemplateOutlet="onTargetSpell; context: { hint: actionHint }" />
      }
      @case (hintActionTypes.CustomHtml) {
        <ng-container *ngTemplateOutlet="customHtml; context: { hint: actionHint }" />
      }
    }
  </div>
}

<ng-template
  #customHtml
  let-hint="hint"
  [mwTypedTemplate]="customHtmlHintType"
>
  <div [innerHTML]="hint.html | safeHtml"></div>
</ng-template>

<ng-template
  #simple
  let-hint="hint"
  [mwTypedTemplate]="enemyCardHoverHintType"
>
  <span>Attack</span>
  <span [style.color]="hint.attackedGroup.ownerPlayer.color">
    {{ hint.attackedGroup.type.name }}
  </span>
  <span> dealing </span>
  <span>
    {{ hint.minDamage }}<ng-container *ngIf="!hint.noDamageSpread">-{{ hint.maxDamage }}</ng-container>
  </span>
  <span> damage, killing </span>
  <span>
    {{ hint.minCountLoss }}<ng-container *ngIf="!hint.noLossSpread">-{{ hint.maxCountLoss }}</ng-container>
  </span>
  <span> units </span>
  <!-- <span *ngIf="hint.attackSuperiority">
    (superiority: {{hint.attackSuperiority}})
  </span> -->
</ng-template>

<ng-template
  #onTargetSpell
  let-hint="hint"
  [mwTypedTemplate]="spellHintType"
>
  <div>
    <span> Cast </span>
    <span>
      {{ hint.spell.name }}
    </span>
    <span> on </span>
    <span>
      {{ hint.target.type.name }}
    </span>
  </div>
  <div>Press RMB to cancel</div>
  @if (hint.addedContent) {
    <div [innerHTML]="hint.addedContent | safeHtml"></div>
  }
</ng-template>
