<div *ngIf="(hint$ | async) as actionHint"
     style="text-align: center;">
  <ng-container [ngSwitch]="actionHint.type">
    <ng-container *ngSwitchCase="hintActionTypes.OnHoverEnemyCard">
      <ng-container *ngTemplateOutlet="simple; context: { hint: actionHint }" />
    </ng-container>

    <ng-container *ngSwitchCase="hintActionTypes.OnTargetSpell">
      <ng-container *ngTemplateOutlet="onTargetSpell; context: { hint: actionHint }" />
    </ng-container>

    <ng-container *ngSwitchCase="hintActionTypes.CustomHtml">
      <ng-container *ngTemplateOutlet="customHtml; context: { hint: actionHint }" />
    </ng-container>
  </ng-container>
</div>

<ng-template #customHtml
             let-hint="hint">
  <div [innerHTML]="hint.html | safeHtml"></div>
</ng-template>

<ng-template #simple
             let-hint="hint">
  <span>Attack</span>
  <span [style.color]="hint.attackedGroup.ownerPlayer.color">
    {{hint.attackedGroup.type.name}}
  </span>
  <span>
    dealing
  </span>
  <span>
    {{hint.minDamage}}<ng-container *ngIf="!hint.noDamageSpread">-{{hint.maxDamage}}</ng-container>
  </span>
  <span>
    damage, killing
  </span>
  <span>
    {{hint.minCountLoss}}<ng-container *ngIf="!hint.noLossSpread">-{{hint.maxCountLoss}}</ng-container>
  </span>
  <span>
    units
  </span>
  <!-- <span *ngIf="hint.attackSuperiority">
    (superiority: {{hint.attackSuperiority}})
  </span> -->
</ng-template>

<ng-template #onTargetSpell
             let-hint="hint">
  <div>
    <span>
      Cast
    </span>
    <span>
      {{hint.spell.name}}
    </span>
    <span>
      on
    </span>
    <span>
      {{hint.target.type.name}}
    </span>
  </div>
  <div>
    Press RMB to cancel
  </div>
  @if (hint.addedContent) {
  <div [innerHTML]="hint.addedContent | safeHtml"></div>
  }
</ng-template>
