<mw-popup-base-content>
  <div popupHeader>Select Reward:</div>

  <div popupContent>
    <div class="reources-rewards">
      @for (resourceGroup of resourceGroups; track resourceGroup) {
        <div
          class="resource-column"
          (click)="setCurrentReward(data, resourceGroup)"
          [class.selected]="data.selectedRewardGroup === resourceGroup"
          >
          @for (resource of resourceGroup; track resource) {
            <div class="resource-card">
              <mw-res-label
                [resType]="resource.type"
                [amount]="resource.count"
                display="vertical"
                />
              </div>
            }
          </div>
        }
      </div>
    </div>

    <div popupButtons>
      <button
        mw-main-button
        style="margin: auto; display: block"
        [disabled]="!data.selectedRewardGroup"
        (click)="confirmResources(data)"
        >
        Confirm
      </button>
    </div>
  </mw-popup-base-content>
