<mw-popup-base-content>
  <div popupHeader>
    {{data.struct.generator?.name}}
    <!-- {{popup.struct.type}} -->
  </div>

  <div popupContent>
    <div class="description"
         *ngIf="data.struct.generator?.description">
      <mw-description [descriptions]="data.struct.generator?.description({thisStruct: data.struct})?.descriptions!" />
    </div>

    <div>
      <mw-unit-groups-list [unitGroups]="data.struct.guard!" />
    </div>

    <div>
      <!-- <div>Gold: {{totalGoldReward}}</div> -->
      <div>
        Experience: {{totalExpReward}}
        @if (experienceGainBonus) {
        (<span [mwNumberModifier]="experienceGainBonus"
              mwNumberModifierFormat="shortPercent">
        </span>)
        }
      </div>
    </div>
  </div>

  <div popupButtons>
    <button mw-main-button
            (click)="onBattleConfirmed()">
      <mw-ra-icon icon="crossed-swords" />
      Fight
    </button>

    <button mw-main-button
            (click)="close()">
      Cancel
    </button>
  </div>
</mw-popup-base-content>
