
.player-item {
  width: 64px;
  height: 32px;
  padding: 6px 0;
  box-sizing: border-box;
  border: 1px solid gray;
  border-radius: 6px;
  margin: 1px;
}

.item-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  overflow: hidden;
}
