@if (resourceViews.includes(currentView)) {
  <mw-player-resources class="resources-panel" />
  <div class="menu-panel">
    <mw-round-icon-btn
      (click)="openMainMenu()"
      mwActionHint="Main Menu"
      icon="repair"
    />
  </div>
}

@switch (currentView) {
  @case (viewTypes.MainScreen) {
    <mw-main-screen />
  }
  @case (viewTypes.NewGame) {
    <mw-new-game-screen />
  }
  @case (viewTypes.Battleground) {
    <mw-gameboard />
  }
  @case (viewTypes.Structures) {
    <mw-structures-view />
  }
  @case (viewTypes.Town) {
    <mw-town-view />
  }
  @case (viewTypes.SandboxMode) {
    <mw-sandbox-mode-screen />
  }
  @case (viewTypes.ScenarioMode) {
    <mw-scenario-editor-screen />
  }
  @case (viewTypes.Multiplayer) {
    <mw-multiplayer-screen />
  }
}

<mw-event-feed />
