.resources-panel {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  width: 148px;
  padding: 8px;
  z-index: 1;
}

mw-event-feed {
  position: fixed;
  right: 50%;
  bottom: 15%;
  max-width: 400px;
  z-index: 10000;
}
