<ng-container *ngIf="viewTypes.MainScreen !== currentView && viewTypes.NewGame !== currentView">
  <mw-player-resources class="resources-panel" />
  <mw-event-feed />
</ng-container>


<ng-container [ngSwitch]="currentView">
  <mw-main-screen *ngSwitchCase="viewTypes.MainScreen" />

  <mw-new-game-screen *ngSwitchCase="viewTypes.NewGame" />

  <mw-gameboard *ngSwitchCase="viewTypes.Battleground" />

  <mw-structures-view *ngSwitchCase="viewTypes.Structures" />

  <mw-town-view *ngSwitchCase="viewTypes.Town" />
</ng-container>
