<mw-icon-btn icon="sideswipe" style="padding: 0px 10px; position: fixed; bottom: 10px;"
  (click)="leaveTown()"></mw-icon-btn>

<div class="buildings">
  <div class="building" *ngFor="let building of buildingsByTiers | keyvalue">
    <!-- {{building.key}} -->
    <div>Tier {{building.key}}</div>

    <div class="build">

      <div *ngFor="let build of building.value">
        <div class="header" (click)="handleBuildingClicked(build)">
          {{build.currentBuilding.name}}
          <div style="font-size: 10px;">Level {{build.currentLevel + 1}}</div>
          <!-- <div style="font-size: 10px;">Level {{build.currentLevel + 1}}</div> -->

          <hr style="width: 100%; border-top: 0;">
        </div>
      </div>
      <mw-ra-icon icon="hammer"></mw-ra-icon>
    </div>


  </div>
</div>
