<mw-hover-hint [hintBody]="buffHint"
               [hintPos]="hintPos()">
  <div [ngClass]="{ 'disabled': onCooldown() || disabled() }">
    <mw-ra-icon class="spell-icon"
                [icon]="icon().icon"
                [ngStyle]="{ 'color': icon().iconClr , 'background': icon().bgClr }" />
  </div>
</mw-hover-hint>

<ng-template #buffHint>
  <div style="display: flex">
    <mw-ra-icon [icon]="icon().icon"
                class="hint-icon"
                [ngStyle]="{ 'color': icon().iconClr , 'background': icon().bgClr }" />

    <div style="padding: 4px; font-size: 14px;">
      <div>{{baseType().name}}</div>
      <div style="font-size: 12px;">Level {{spell().currentLevel}}</div>
      <div style="font-size: 12px;"
           *ngIf="!isPassive()">
        Mana Cost: {{spell().currentManaCost}}
      </div>
    </div>
  </div>

  <div style="padding: 4px; font-size: 13px; max-width: 240px;">
    <mw-spell-description [spell]="spell()"
                          [player]="owner().ownerPlayer"
                          [ownerUnit]="owner()"
                          [hero]="hero()" />
  </div>
</ng-template>
