<div *ngIf="heroStats$ | async as _heroStats">
  <div class="resource-info-row">
    <div>Gold:</div>
    <div>{{currentPlayer.resources.gold}}</div>
  </div>
  <div class="resource-info-row">
    <div>Wood:</div>
    <div>{{currentPlayer.resources.wood}}</div>
  </div>
  <div class="resource-info-row">
    <div>Red Crystals:</div>
    <div>{{currentPlayer.resources.redCrystals}}</div>
  </div>
  <div class="resource-info-row">
    <div>Gems:</div>
    <div>{{currentPlayer.resources.gems}}</div>
  </div>

  <div class="resource-info-row">
    <div>Mana:</div>
    <div>{{currentPlayer.hero.stats.currentMana}}/{{currentPlayer.hero.stats.maxMana}}</div>
  </div>

  <div class="resource-info-row">
    <div>Attack:</div>
    <div>
      {{_heroStats.baseAttack}}
      <span *ngIf="_heroStats.bonusAttack">
        <!-- pipe for pos/neg values, or directive with ::before -->
        (+{{_heroStats.bonusAttack}})
      </span>
    </div>
  </div>

  <div class="resource-info-row">
    <div>Defence:</div>
    <div>
      {{_heroStats.baseDefence}}
      <span *ngIf="_heroStats.bonusDefence">
        (+{{_heroStats.bonusDefence}})
      </span>
    </div>
  </div>

  <div class="sub-info">
    <div>
      <div>
        Week: {{state.currentGame.week}}, Day: {{state.currentGame.day}}
      </div>

      <!-- <div>
        <mw-ra-icon icon="feather-wing"></mw-ra-icon>
        {{state.currentGame.actionPoints}}
      </div> -->
    </div>
  </div>
</div>
