<mw-popup-base-content>
  <div popupHeader>
    {{ currentBuilding.name }}
  </div>

  <div popupContent>
    <div class="sub-info">
      <p>Hire {{ unitType.name }}</p>
    </div>

    <div style="display: flex; justify-content: center">
      <div
        class="type"
        [class.active]="currentMode === 'hire'"
        (click)="setMode('hire')"
      >
        Hire: {{ countToHire - plannedToHire }}
      </div>

      <div
        class="type"
        *ngIf="activity.upgrade"
        [class.active]="currentMode === 'upgrade'"
        (click)="setMode('upgrade')"
      >
        Upgrade: {{ countToUpgrade - plannedToUpgrade }}
      </div>
    </div>

    <div class="hiring-panel">
      <div *ngFor="let unitType of hirableGroups" class="unit-column">
        <div>{{ unitType.hire.unitType.name }}</div>

        <div>{{ unitType.count }}</div>

        <input
          type="range"
          [min]="0"
          [max]="unitType.hire.maxCount"
          (input)="updateCountForGroup(unitType, $event)"
          [value]="0"
        />

        <div>Cost:</div>

        <div class="cost">
          <div
            class="resource"
            *ngFor="let resource of unitType.currentCost | keyvalue"
          >
            <mw-res-label
              [resType]="resource.key"
              [amount]="resource.value!"
              display="vertical"
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div popupButtons>
    <button
      mw-main-button
      [disabled]="!canConfirm || countToHire - plannedToHire < 0"
      (click)="confirmHire()"
    >
      Hire
    </button>

    <button
      mw-main-button
      (click)="upgradeBuilding()"
      style="font-size: 12px"
      *ngIf="canBeUpgraded"
    >
      Upgrade Building
    </button>

    <button mw-main-button (click)="close()">Close</button>
  </div>
</mw-popup-base-content>
