<mw-popup-base-content>
  <div popupHeader>
    {{ currentBuilding.name }}
  </div>

  <div popupContent>
    <div class="sub-info">
      <p>Hire {{ unitType.name }}</p>
    </div>

    <div style="display: flex; justify-content: center">
      <div
        class="type"
        [class.active]="currentMode === 'hire'"
        (click)="setMode('hire')"
      >
        Hire: {{ countToHire - plannedToHire }}
      </div>

      @if (activity.upgrade) {
        <div
          class="type"
          *ngIf="activity.upgrade"
          [class.active]="currentMode === 'upgrade'"
          (click)="setMode('upgrade')"
        >
          Upgrade: {{ countToUpgrade - plannedToUpgrade }}
        </div>
      }
    </div>

    <div class="hiring-panel">
      @for (unitType of hirableGroups; track $index) {
        <div class="unit-column">
          <div>{{ unitType.hire.unitType.name }}</div>

          <div>{{ unitType.count }}</div>

          <input
            type="range"
            [min]="0"
            [max]="unitType.hire.maxCount"
            (input)="updateCountForGroupFromEvent(unitType, $event)"
            [value]="unitType.count"
            [disabled]="!playerHasFreeSlots"
          />

          <div>Cost:</div>

          <div class="cost">
            <div
              class="resource"
              *ngFor="let resource of unitType.currentCost | keyvalue"
            >
              <mw-res-label
                [resType]="resource.key"
                [amount]="resource.value!"
                [iconSize]="48"
                display="vertical"
              />
            </div>
          </div>

          <button
            mw-main-button
            [disabled]="!playerHasFreeSlots"
            (click)="setMaxHire(unitType)"
          >
            Max
          </button>
        </div>
      }
    </div>

    @if (!playerHasFreeSlots) {
      <div>You don't have free unit group slots!</div>
    }
  </div>

  <div popupButtons>
    <button
      mw-main-button
      [disabled]="!canConfirm || countToHire - plannedToHire < 0"
      (click)="confirmHire()"
    >
      Hire
    </button>

    @if (canBeUpgraded) {
      <button
        mw-main-button
        (click)="upgradeBuilding()"
        style="font-size: 12px"
      >
        Upgrade Building
      </button>
    }

    <button
      mw-main-button
      (click)="close()"
    >
      Close
    </button>
  </div>
</mw-popup-base-content>
