<div class="popup">
  <div class="header">{{data.isWin ? 'Win!' : 'Defeat'}}</div>

  <div>
    <div style="text-align: center;">Player's Losses</div>
    <div class="losses-container">
      <div class="loss-card"
           *ngFor="let playerLoss of data.playerLosses">
        <span>{{ playerLoss.type.name }}</span>
        <span>{{ playerLoss.count }}</span>
      </div>
    </div>
  </div>

  <div>
    <div style="text-align: center;">Enemy's Losses</div>
    <div class="losses-container">
      <div class="loss-card"
           *ngFor="let playerLoss of data.enemyLosses">
        <span>{{ playerLoss.type.name }}</span>
        <span>{{ playerLoss.count }}</span>
      </div>
    </div>
  </div>

  <div>
    <div>Gold: +{{totalGoldReward}}</div>
    <div>Experience: +{{totalExperienceReward}}</div>
  </div>

  <div>
    <button style="margin: auto; display: block;"
            (click)="onContinue(data)">
      Continue
    </button>
  </div>
</div>
