<div class="resources-panel">
  <div class="resource-info-row">
    <div>Gold:</div>
    <div>{{mainPlayerInfo.resources!.gold}}</div>
  </div>
  <div class="resource-info-row">
    <div>Red Crystals:</div>
    <div>{{mainPlayerInfo.resources!.redCrystals}}</div>
  </div>
  <div class="resource-info-row">
    <div>Gems:</div>
    <div>{{mainPlayerInfo.resources!.gems}}</div>
  </div>

  <div class="resource-info-row" style="margin-top: 16px;">
    <div>Round:</div>
    <div>{{mwBattleState.round}}</div>
  </div>
</div>

<div class="columns-wrapper">
  <div class="columns">
    <div class="column">
      <mw-unit-group-card
          class="card"
          *ngFor="let unitGroup of mainPlayerUnitGroups"
          [playerInfo]="mainPlayerInfo"
          [unitGroup]="unitGroup"
          (cardReady)="onCardReady(unitGroup, $event)"
          (groupDies)="onGroupDies(unitGroup)"
          >
      </mw-unit-group-card>
    </div>
  
    <div class="column">
      <mw-unit-group-card
          class="card"
          *ngFor="let unitGroup of neutralPlayerGroups"
          [playerInfo]="neutralPlayerInfo"
          [unitGroup]="unitGroup"
          (cardReady)="onCardReady(unitGroup, $event)"
          (groupDies)="onGroupDies(unitGroup)"
          >
      </mw-unit-group-card>
    </div>
  </div>
</div>

<div class="queue-panel">
  <div 
    *ngFor="let group of fightQueue"
    [style.background]="group.ownerPlayerRef!.color"
    class="queue-card">
    <div>{{group.type.name}}</div>
    <div>{{group.count}}</div>
    <div>turns: {{group.turnsLeft}}</div>
  </div>
</div>

<div *ngIf="(mwBattleState.hintMessage$ | async) as message" class="hint-panel">
  {{message}}
</div>

<div class="history-log-panel">
  <mw-history-log></mw-history-log>
</div>

<div class="items-panel">
  Items:
  <div class="items-container">
    <div class="player-item" *ngFor="let item of mwPlayerState.items">
      {{item.name}}
    </div>
  </div>
</div>
