<div>
    {{curPlayerState.playerCurrentState}}
</div>

<div class="abilities-list">
    <mw-hover-hint [hintBody]="hint" *ngFor="let spell of currentPlayer.hero.spells">
        <div class="ability" (click)="onAbilityClick(spell)"
            [class.current-ability]="curPlayerState.currentSpell === spell && spell.activationType === activationTypes.Target">
            <div>
                {{ spell.name }}
            </div>
        </div>

        <ng-template #hint>
            <div style="padding: 4px;">
                <div style="font-size: 13px;">{{spell.name}}</div>
                <div style="font-size: 11px;">Level: {{spell.level}}</div>
            </div>
            
            <div *ngIf="spell.description" style="width: 100px; font-size: 10px; max-width: 200px; padding: 4px;">
                {{spell.description}}
            </div>
        </ng-template>
    </mw-hover-hint>
</div>