<div>
    {{curPlayerState.playerCurrentState}}
</div>


<div class="abilities-list">
    <div class="cd-icon">
        <mw-ra-icon icon="hourglass" *ngIf=" curPlayerState.spellsAreOnCooldown"></mw-ra-icon>
    </div>

    <mw-hover-hint [hintBody]="hint" *ngFor="let spell of currentPlayer.hero.spells">
        <div class="ability spell-icon" (click)="onAbilityClick(spell)"
            [class.no-mana]="currentPlayer.hero.stats.currentMana < spell.currentManaCost || curPlayerState.spellsAreOnCooldown"
            [class.current-ability]="curPlayerState.currentSpell === spell && spell.baseType.activationType === activationTypes.Target"
            [ngStyle]="{ 'color': spell.baseType.icon.iconClr , 'background': spell.baseType.icon.bgClr }">
            <mw-ra-icon [icon]="spell.baseType.icon.icon"></mw-ra-icon>

            <i class="ra light" [class]="'ra-' + spell.baseType.icon.icon"></i>
        </div>

        <ng-template #hint>
            <div style="min-width: 170px; max-width: 200px;">
                <div style="display: flex;">
                    <div class="tooltip-icon"
                        [ngStyle]="{ 'color': spell.baseType.icon.iconClr , 'background': spell.baseType.icon.bgClr }">
                        <mw-ra-icon [icon]="spell.baseType.icon.icon"></mw-ra-icon>
                    </div>

                    <div style="padding: 4px;">
                        <div style="font-size: 14px;">{{spell.name}}</div>
                        <div style="font-size: 12px;">Level: {{spell.currentLevel}}</div>
                        <div style="font-size: 12px;">Mana Cost: {{spell.currentManaCost}}</div>
                    </div>
                </div>

                <div *ngIf="spell.description" style=" font-size: 12px; padding: 4px;">
                    {{spell.description}}
                </div>
            </div>
        </ng-template>
    </mw-hover-hint>
</div>
