<div>
    {{curPlayerState.playerCurrentState}}
</div>

<div class="abilities-list">
    <mw-hover-hint [hintBody]="hint" *ngFor="let spell of currentPlayer.hero.spells">
        <div class="ability" (click)="onAbilityClick(spell)"
            [class.current-ability]="curPlayerState.currentSpell === spell && spell.type.activationType === activationTypes.Target">
            <div>
                {{ spell.name }}
            </div>
        </div>

        <ng-template #hint>
            <div style="min-width: 170px; max-width: 200px;">
                <div style="padding: 4px;">
                    <div style="font-size: 14px;">{{spell.name}}</div>
                    <div style="font-size: 12px;">Level: {{spell.currentLevel}}</div>
                    <div style="font-size: 12px;">Mana Cost: {{spell.currentManaCost}}</div>
                </div>

                <div *ngIf="spell.description" style=" font-size: 12px; padding: 4px;">
                    {{spell.description}}
                </div>
            </div>
        </ng-template>
    </mw-hover-hint>
</div>