<div>Scenario Editor, here you will be able to create/edit scenarios</div>

<div>
  Scenarios
  <mw-base-select [(selectedItem)]="selectedScenario">
    @for (scenario of scenarios(); track $index) {
      <option [value]="scenario.name">{{ scenario.name }}</option>
    }
  </mw-base-select>

  {{ selectedScenario() }}
</div>

<!-- panels, dockers? -->

<button
  mw-main-button
  (click)="goToMainScreen()"
>
  Back to main screen
</button>

<mw-panel-container>
  <mw-panel title="Entities Manager">
    <div class="panel">Create New Entity</div>
  </mw-panel>

  <mw-panel title="Entities Inspector">
    <div class="panel">
      <div class="header">Units</div>

      <mw-dropdown [(selectedItem)]="selectedUnitType">
        @for (unitType of unitTypes; track $index) {
          <mw-dropdown-option [value]="unitType">
            {{ unitType.faction.title }} - {{ unitType.name }}
          </mw-dropdown-option>
        }
      </mw-dropdown>
      {{ selectedUnitType()?.id }}

      <div class="header">Items</div>

      <mw-dropdown [(selectedItem)]="selectedItemType">
        @for (itemType of itemTypes; track $index) {
          <mw-dropdown-option [value]="itemType">
            <mw-ra-icon [icon]="itemType.icon.icon"></mw-ra-icon>
            Item - {{ itemType.name }}
          </mw-dropdown-option>
        }
      </mw-dropdown>

      {{ selectedItemType()?.id }}
    </div>
  </mw-panel>

  <!-- Later - animations as entities -->
  <mw-panel title="VFX Editor"> VFX Preview </mw-panel>

  <mw-panel title="Scripts Editor">
    <div class="panel">
      <mw-dropdown [(selectedItem)]="selectedScript">
        @for (script of scripts(); track $index) {
          <mw-dropdown-option [value]="script">
            {{ script.name() }}
          </mw-dropdown-option>
        }
      </mw-dropdown>

      @let script = selectedScript();

      @if (script) {
        {{ script.name() }}
        @defer {
          <mw-script-editor [(code)]="script.code" />
        }
      }

      <button
        mw-main-button
        (click)="addNewScript()"
      >
        Add Script
      </button>

      <button (click)="runScripts()">Run</button>
    </div>
  </mw-panel>
</mw-panel-container>
