.header-tabs {
  display: flex;
  flex-wrap: wrap;
  color: white;

  .tab {
    padding: 3px;
    font-size: 12px;
    cursor: pointer;
    user-select: none;

    &:hover {
      background: #00000052;
    }
    &.active {
      background: orange;
    }
  }
}

.empty {
  font-size: 10px;
  padding: 10px;
}

.property {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.centered {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}

mw-popup-base-content {
  background: white;
}

.bar {
  display: flex;
}
