<div>Scenario Editor, here you will be able to create/edit scenarios</div>

<!-- panels, dockers? -->
<div class="panel">
  <div class="header">Units Inspector</div>

  <mw-base-select [(selectedItem)]="selectedUnitType">
    @for (unitType of unitTypes; track $index) {
      <option value="{{ unitType.id }}">{{ unitType.faction.title }} - {{ unitType.name }}</option>
    }
  </mw-base-select>
  {{ selectedUnitType() }}
</div>

<div class="panel">
  <div class="header">Items inspector</div>

  <mw-base-select [(selectedItem)]="selectedItemType">
    @for (itemType of itemTypes; track $index) {
      <option [value]="itemType.id">Item - {{ itemType.name }}</option>
    }
  </mw-base-select>

  {{ selectedItemType() }}
</div>

<button
  mw-main-button
  (click)="goToMainScreen()"
>
  Back to main screen
</button>
