:host {
  display: flex;
  width: 570px;
}

.unit-portrait {
  position: absolute;

  left: -71px;
  top: -42px;

}

.info-header {
  display: flex;
  margin-left: 64px;
  flex-direction: column;
  height: 92px;
}

.stats {
  margin-top: 12px;
  font-size: 13px;
  display: flex;
}

.col {
  margin-left: 8px;
}

.tier {
  font-size: 13px;
}

.description {
  font-size: 12px;
  max-width: 360px;
}

.secondary-group {
  width: 202px;
  flex-grow: 1;
  margin-left: 8px;

  .title {
    text-align: center;
  }

  .col {
    width: 100%;
  }

  .abilities-list {
    display: flex;
    justify-content: center;
    gap: 4px;
  }


  .hor-stats {
    display: flex;
    justify-content: space-around;

    .stat {
      display: flex;
      flex-direction: column;
    }
  }

  .stats {
    display: flex;
    justify-content: center;
    text-align: center;

    .stat {
      padding-bottom: 2px;
    }
  }
}
