.spell-icon {
    font-size: 26px;
    margin: 3px;
    display: block;
    height: 30px;
    width: 28px;
}

.hint-icon {
    width: 38px;
    font-size: 30px;
    text-align: center;
    padding-top: 5px;
}