.items-container {
    display: flex;
    flex-direction: column;
    width: 120px;
    font-size: 12px;
}

.player-item {
    width: 64px;
    height: 32px;
    padding: 6px 0;
    box-sizing: border-box;
    border: 1px solid gray;
    border-radius: 6px;
    margin: 1px;
}