<mw-hover-hint [hintBody]="hint"
               [hintPos]="hintPos">
  <mw-item-icon-base [icon]="_itemBase.icon.icon"
                     [itemColor]="_itemBase.icon.iconClr"
                     [bgColor]="_itemBase.icon.bgClr" />

  <ng-template #hint>
    <div style="max-width: 200px;">
      <div style="display: flex">
        <div class="tooltip-icon"
             [ngStyle]="{ 'color': _itemBase.icon.iconClr , 'background': _itemBase.icon.bgClr }">
          <!-- <i class="ra" [class]="'ra-' + item.baseType.icon.icon"></i> -->
          <mw-ra-icon [icon]="_itemBase.icon.icon" />
        </div>

        <div style="padding: 4px 8px 8px; font-size: 14px">
          {{_itemBase.name}}
          <div style="font-size: 9px; color: gray;">{{_itemBase.slotType}}</div>
        </div>
      </div>

      <div style="padding: 0 8px 8px; font-size: 13px;">
        <!-- {{item.currentDescription}} -->
        <mw-item-description [item]="_item"
                             [itemBase]="_itemBase" />
      </div>
    </div>
  </ng-template>
</mw-hover-hint>
