.card-top {
    display: flex;
    position: relative;
    transition: 0.5s;
}

/* brightness can be used to make element darker */
// .no-turns .card-top {
// filter: brightness(0.65);
// }

.card-left .portrait {
    right: 70%;
    transform: scaleX(-1);
}

.card-left {
    text-align: right;
}

.card-right {
    text-align: left;
}

.card-right .portrait {
    left: 70%;
}

.portrait {
    position: absolute;
    // z-index: 1000;
    height: 130px;
    width: 127px;
    top: -25px;
    user-select: none;
}

.card-wrapper {
    position: relative;
}

.abilities {
    position: absolute;
    font-size: 12px;
    top: 0;
    // z-index: 1500;
}

.abilities.left {
    left: -120%;
}

.abilities.right {
    right: -120%;
}

.card {
    display: block;
    width: 115px;
    height: 100px;
    border-radius: 6px;
    align-items: center;
    box-sizing: border-box;
    font-size: 13px;
    padding: 4px 15px 0;
    color: white;
    border: 3px solid transparent;
    // cursor: pointer;
    user-select: none;
}

.card.current-group {
    border: 3px solid gold;
}

.hovered-enemy {
    border: 3px solid rgba(240, 113, 113, 0.906);
    // cursor: pointer;
}

.buff-icon {
    font-size: 24px;
    border-radius: 50%;
    margin: 4px;
}


:host {
    position: relative;
}

$shadow: rgba(0, 0, 0, 0.721);

/* todo: rework template, css and units themselves someday */
.card-top {
    transition: 0.5s;
    /* shadows are experimental */
    filter: brightness(100%) drop-shadow(0 0 0 $shadow);
}

.card-top.active {
    filter: brightness(100%) drop-shadow(2px 4px 6px $shadow);
    transform: scale(1.1);
}

.card-top.active.card-left {
    filter: brightness(100%) drop-shadow(2px 4px 6px $shadow);
    transform: scale(1.1) translateX(20px);
}

.card-top.active.card-right {
    filter: brightness(100%) drop-shadow(2px 4px 6px $shadow);
    transform: scale(1.1) translateX(-20px);
}

.card-top.inactive {
    filter: brightness(85%) drop-shadow(0 0 0 $shadow);
}

.card-top.inactive.card-left {
    transform: scale(1) translateX(-20px);
}

.card-top.inactive.card-right {
    transform: scale(1) translateX(20px);
}
