.card-wrapper {
    position: relative;
}

.abilities {
    position: absolute;
    font-size: 12px;
    top: 0;
}

.abilities.left {
    left: -100%;
}

.abilities.right {
    right: -100%;
}

.card {
    display: block;
    width: 115px;
    height: 115px;
    border-radius: 6px;
    align-items: center;
    box-sizing: border-box;
    font-size: 13px;
    padding: 12px;
    color: white;
    border: 3px solid transparent;
    cursor: pointer;
    user-select: none;
}

.card.current-group {
    border: 3px solid gold;
}

.hovered-enemy {
    border: 3px solid rgba(240, 113, 113, 0.906);
    cursor: pointer;
}