<mw-ra-icon style="font-size: 40px;" [icon]="data.building.base.icon"></mw-ra-icon>

<div>Build level 1 {{data.building.currentBuilding.name}}</div>

<div>
  {{data.building.base.description}}
</div>

<div>
  <div *ngFor="let resource of cost">
    {{resource.count}} {{resource.resName}}
  </div>
</div>

<div *ngIf="!canBuild">
  You don't have enough resources. Missing:

  <div *ngFor="let missingRes of missingCost">
    {{missingRes.count}} {{missingRes.resName}}
  </div>
</div>

<div style="display: flex; justify-content: space-around;">
  <button mw-main-button (click)="close()">Close</button>

  <button mw-main-button (click)="build()" [disabled]="!canBuild">Build</button>
</div>
