<mw-popup-base-content>
  <div popupHeader>
    Build: {{ data.building.currentBuilding.name }}, level
    {{ data.targetLevel }}

    <mw-ra-icon
      style="display: block; font-size: 40px; margin: 8px 0"
      [icon]="data.building.base.icon"
    ></mw-ra-icon>
  </div>

  <div popupContent>
    <div style="padding-bottom: 8px">
      {{ buildingLevel.building.description }}
    </div>

    <div>
      @for (resource of cost; track resource) {
        <div class="resource">
          <mw-res-label [resType]="resource.type" [amount]="resource.count" />
          @if (missingCostMap[resource.type]) {
            <span>
              (<span style="color: red">-{{ missingCostMap[resource.type] }}</span
              >)
            </span>
          }
        </div>
      }
    </div>

    @if (!canBuild) {
      <div>
        You don't have enough resources.
        <!--
        <div *ngFor="let missingRes of missingCost">
          {{missingRes.count}} {{missingRes.resName}}
        </div> -->
      </div>
    }
  </div>

  <div popupButtons>
    <button mw-main-button (click)="build()" [disabled]="!canBuild">
      Build
    </button>

    <button mw-main-button (click)="close()">Close</button>
  </div>
</mw-popup-base-content>
