<mw-popup-base-content>
  <div popupHeader>
    Build: {{data.building.currentBuilding.name}}, level {{data.targetLevel}}

    <mw-ra-icon style="display: block; font-size: 40px; margin: 8px 0;" [icon]="data.building.base.icon"></mw-ra-icon>
  </div>

  <div popupContent>
    <div>
      {{buildingLevel.building.description}}
    </div>

    <div>
      <div *ngFor="let resource of cost">
        {{resource.count}} {{resource.resName}}

        <span *ngIf="missingCostMap[resource.type]">
          (<span style="color: red;">-{{missingCostMap[resource.type]}}</span>)
        </span>
      </div>
    </div>

    <div *ngIf="!canBuild">
      You don't have enough resources.
      <!--
      <div *ngFor="let missingRes of missingCost">
        {{missingRes.count}} {{missingRes.resName}}
      </div> -->
    </div>
  </div>

  <div popupButtons>
    <button mw-main-button (click)="close()">Close</button>

    <button mw-main-button (click)="build()" [disabled]="!canBuild">Build</button>
  </div>
</mw-popup-base-content>
