<mw-icon-btn mwActionHint="Go to {{state.createdGame.faction.title}}"
             (click)="goToTown()"
             icon="castle-emblem" />

<mw-icon-btn mwActionHint="Inspect Hero"
             (click)="openPlayerInfo()"
             icon="aura" />

<mw-icon-btn [mwActionHint]="'Action Cards<hr>' + state.currentGame.actionPoints + ' action points left'"
             class="action-points"
             (click)="openActionCards()">
  <div class="action-info">
    <mw-ra-icon icon="feather-wing" />
    <span>{{state.currentGame.actionPoints}}</span>
  </div>
</mw-icon-btn>


<div mwActionHint="Learn new abilities">
  <mw-icon-btn [disabled]="true"
               icon="barrier" />
</div>

<!-- todo: confirmation popup? -->
<mw-icon-btn [mwActionHint]="'Set up Camp<hr>Skips current day'"
             class="camp-action"
             (click)="setupCampAction()">
  <mw-ra-icon icon="campfire" />
</mw-icon-btn>
