<div class="header">
  Available action cards
  <div class="action-points">
    Remaining action points for this day:
    <br>
    <span class="points">
      <mw-ra-icon icon='feather-wing' />
      {{actionPointsLeft}}
    </span>
  </div>
  <hr>
</div>

<div class="cards">
  <mw-action-card *ngFor="let actionCard of cards"
                  [actionCard]="actionCard.card"
                  [mwActionHint]="'Use ' + actionCard.card.title"
                  (click)="handleCardClick(actionCard)" />
</div>
