:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(0 0 0 / 61%);
  padding: 40px 0;
}

.header {
  color: white;
  text-align: center;
  font-size: 24px;

  .action-points {
    font-size: 16px;
    font-weight: 100;
    line-height: 32px;

    .points {
      font-size: 32px;
    }
  }
}

.cards {
  display: flex;
  pointer-events: all;
}

.card-stack {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 16px 8px;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0);


  &:hover {
    background-color: rgba(255, 255, 255, 0.193);
    transition: 0.4s;
  }
}

.cards-left {
  color: white;
  text-align: center;
  font-size: 15px;
  padding-top: 4px;
}
