<div (click)="openPlayerInfo()"
     mwActionHint="Inspect Hero"
     style="cursor: pointer;"
     [style.background-image]="'url(\'assets/'+ player.hero.base.image + '\')'"
     class="hero-image">
</div>

<div class="hero-info">
  <!-- <div class="skillpoints"
       *ngIf="player.hero.freeSkillpoints">
    +{{player.hero.freeSkillpoints}} Skillpoints
  </div> -->

  <div [mwActionHint]="getHeroActionHint()">
    {{player.hero.name}}, Level: {{player.hero.level}}
    <mw-experience-bar style="width: 270px;"></mw-experience-bar>
  </div>

  <div class="groups-container">
    <div class="player-group-card"
         [style.background]="player.color"
         (click)="displayUnitGroupInfo(group)"
         [mwActionHint]="'Inspect group of ' + group.count + ' ' + group.type.name"
         *ngFor="let group of player.unitGroups">
      <div class="group-name">{{group.type.name}}</div>

      <div>{{group.count}}</div>
    </div>
  </div>
</div>
