<div>
  <!-- <div class="skillpoints"
       *ngIf="player.hero.freeSkillpoints">
    +{{player.hero.freeSkillpoints}} Skillpoints
  </div> -->

  <div>
    <div>
      Day: {{state.currentGame.day}}
    </div>

    <div>
      <mw-ra-icon icon="feather-wing"></mw-ra-icon>
      {{state.currentGame.travelPoints}}
    </div>
  </div>

  <div style="cursor: pointer;"
       (click)="openPlayerInfo()">
    {{player.hero.name}}, Level: {{player.hero.level}}
    <mw-experience-bar style="width: 270px;"></mw-experience-bar>
  </div>

  Your units:
  <div class="groups-container">
    <div class="player-group-card"
         [style.background]="player.color"
         *ngFor="let group of player.unitGroups">
      <div>{{group.type.name}}</div>

      <div>{{group.count}}</div>
    </div>
  </div>
</div>
