.map-view {
  height: 0;
  width: 0;
  position: absolute;
  left: 0;
  top: 0;

  z-index: -1;
}

@keyframes pathanim {
  0% {
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dashoffset: -23;
  }
}

.path-line {
  position: absolute;
  opacity: 0.4;
  transition: 0.4s;
  overflow: visible;
  pointer-events: none;
}

.struct:hover .path-line {
  opacity: 0.6;

  >.line {
    stroke-width: 7;
    animation: pathanim 2s linear infinite;
  }

}

.line {
  stroke: rgb(0, 0, 0);
  stroke-width: 5;
  stroke-dashoffset: 0;
  opacity: 0.6;
}

// .available {
// outline: 2px solid #e3d069;
// }

.guards {
  font-size: 13px;
}


.player-info-panel {
  position: fixed;
  left: 0;
  bottom: 0;
}

.player-actions {
  position: fixed;
  left: 70px;
  top: 50%;
  display: flex;
  flex-direction: column;
  transform: translateY(-50%);
}

mw-action-hint {
  position: fixed;
  top: 90%;
  left: 0;
  right: 0;
  font-size: 13px;
}
