<!-- Rework -->

<div class="backdrop"></div>

<mw-gradient-img
  gradientClr="rgb(12,12,12)"
  imgSrc="assets/background/serpent.jpg"
/>

<div class="block">
  Mirrorwalk

  <div>
    <button
      mw-main-button
      (click)="openNewGameScreen()"
    >
      New Game
    </button>

    @if (isSandboxEnabled) {
      <button
        mw-main-button
        (click)="openSandboxMode()"
      >
        Sandbox Mode
      </button>
    }

    @if (isScenarioEditorEnabled) {
      <button
        mw-main-button
        (click)="openScenarioMode()"
      >
        Scenario Editor
      </button>
    }

    @if (isMultiplayerEnabled) {
      <button mw-main-button (click)="openMultiplayer()">
        Multiplayer
      </button>
    }

    <button
      mw-main-button
      (click)="openGlossary()"
    >
      Glossary
    </button>

    <button
      mw-main-button
      (click)="openSettings()"
    >
      Settings
    </button>
  </div>
</div>
