<mw-view-control />
<mw-popup-container />
<mw-hints-container #hintsContainer />
<mw-vfx-layer />
<mw-custom-cursor />
<mw-shared-templates />

<!-- looks like, mobile devices just zoom the full picture -->
<!-- everything needs to be wrapped into something like this.. -->
<!-- <div style="position: relative; max-width: 100dvw; max-height: 100dvh; width: 100dvw; height: 100dwh;"> -->
<!-- </div> -->

<!-- Animations playground
<div style="width: 200px; height: 200px; padding: 50px; background-color: rgba(0,0,0,0.7);">
    <mw-vfx-element ></mw-vfx-element>
</div> -->
