:host {
  border: 5px solid rgb(105, 105, 105);
  border-radius: 50%;
  width: 28px;
  height: 28px;
  background-color: gray;
  color: white;
  display: flex;
  font-size: 20px;
  justify-content: center;
  align-items: center;
}
