.buttons {
  margin-top: 16px;
  display: flex;
  justify-content: flex-end;
}

:host {
  width: 500px;
}

.hero-panel {
  display: flex;
}

.items {
  margin-right: 16px;
  font-size: 10px;
}

.info {
  font-size: 12px;
}

.unit-groups-slots {
  display: flex;
  padding-top: 6px;
  gap: 4px;
  text-align: center;

  .unit-slot {
    display: flex;
    justify-content: center;
    color: white;
    flex-direction: column;
    cursor: pointer;
    width: 52px;
    height: 52px;
    border: 1px solid gray;
    box-sizing: border-box;
    border-radius: 4px;
    user-select: none;

    &.reserve {
      width: 40px;
      height: 40px;
      font-size: 10px;
      filter: brightness(0.8);
    }

    &.active {
      border-color: gold;
      border-width: 2px;
    }
  }
}


.stats-panel {
  position: absolute;
  right: -160px;
  box-sizing: border-box;
  top: 0;
  background: white;
  font-size: 13px;
  padding: 6px 8px;
  width: 150px;
}
