<ng-container *ngIf="heroStats$ | async as _heroStats">
  <div class="hero-panel">
    <div class="items">
      <div>
        Your items:
      </div>

      <div style="display: flex; flex-direction: column;">
        <mw-item-slot *ngFor="let itemSlot of itemSlots"
                      [itemSlot]="itemSlot" />
      </div>
    </div>

    <div class="info">
      <div>{{hero.base.name}}</div>
      <div>Level {{hero.level}}</div>

      <mw-experience-bar style="width: 270px;" />
    </div>

  </div>

  <div class="buttons">
    <button mw-main-button
            (click)="close()">
      Close
    </button>
  </div>

  <div class="stats-panel">
    <div>Resistances:</div>
    <div>
      Fire:
      <span [mwNumberModifier]="_heroStats.fireResist"
            [hideEmpty]="false">
      </span>
    </div>

    <div>
      Cold:
      <span [mwNumberModifier]="_heroStats.coldResist"
            [hideEmpty]="false">
      </span>
    </div>

    <div>
      Lightning:
      <span [mwNumberModifier]="_heroStats.lightningResist"
            [hideEmpty]="false">
      </span>
    </div>

    <div>
      Poison:
      <span [mwNumberModifier]="_heroStats.poisonResist"
            [hideEmpty]="false">
      </span>
    </div>

    <hr>

    <div class="specialties">
      Specialties:

      <ng-container *ngIf="heroSpecialties$ | async as specialties">

        <ng-container *ngIf="specialties.length; else noSpecialties">
          <div *ngFor="let specialty of specialties">
            <div>{{specialty}}</div>
          </div>
        </ng-container>

        <ng-template #noSpecialties>
          <div>No specialties</div>
        </ng-template>

      </ng-container>
    </div>

    <hr />
    <div style="margin-bottom: 5px; text-align: center;">Spells:</div>
    <div style="display: flex; flex-direction: column; align-items: center;">

      <div style="display: flex; flex-wrap: wrap; justify-content: center; gap: 4px">
        <div style="display: flex; flex-direction: column; align-items: center;" *ngFor="let spell of currentPlayer.hero.spells">

          <mw-spell-button [spell]="spell"
                           [player]="currentPlayer"
                           [hero]="currentPlayer.hero" />
          <div style="font-size: 10px; text-align: center;">
            {{spell.baseType.name }}
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
