.buttons {
  margin-top: 16px;
  display: flex;
  justify-content: flex-end;
}

:host {
  width: 500px;
}

.hero-panel {
  display: flex;
}

.items {
  margin-right: 16px;
  font-size: 10px;
}

.info {
  font-size: 12px;
}

.stats-panel {
  position: absolute;
  right: -160px;
  box-sizing: border-box;
  top: 0;
  background: white;
  font-size: 13px;
  padding: 6px 8px;
  width: 150px;
}
