<div class="history-panel">
  Battle Log:

  <div class="history-log"
       #historyLog>
    @for (historyEntry of battleLogService.history; track $index) {
    <div class="entry">
      @switch (historyEntry.type) {
      @case (types.SimpleMsg) {
      <ng-container *ngTemplateOutlet="simple; context: { log: historyEntry }" />
      }
      @case (types.RoundInfoMsg) {
      <ng-container *ngTemplateOutlet="roundInfoMsg; context: { log: historyEntry }" />
      }
      @case (types.DealtDamageMsg) {
      <ng-container *ngTemplateOutlet="dealtDamageLog; context: { log: historyEntry }" />
      }
      @case (types.Html) {
      <ng-container *ngTemplateOutlet="htmlLog; context: { log: historyEntry }" />
      }
      }
    </div>
    }
  </div>
</div>

<!-- todo: rework, pass custom html -->
<ng-template #simple
             let-log="log">
  {{log.message}}
</ng-template>

<ng-template #htmlLog
             let-log="log">
  <div [innerHTML]="log.message | safeHtml"></div>
</ng-template>

<ng-template #dealtDamageLog
             let-log="log">
  <div>
    <span [style.color]="log.attackingPlayer.color">{{log.attackersNumber}} {{log.attacker.name}}</span>
    deal {{log.damage}} {{log.isCritical ? 'critical' : ''}} damage to
    <span [style.color]="log.attackedPlayer.color">{{log.attackedNumber}} {{log.attacked.name}}</span>
    , killing {{log.losses}} units
    <div *ngIf="log.damageBlocked">
      {{log.damageBlocked}} damage was blocked
    </div>
    <div *ngIf="log.stolenLife">
      <span [style.color]="log.attackingPlayer.color">{{log.attackersNumber}} {{log.attacker.name}}</span>
      steal {{log.stolenLife}} life, reviving {{log.stolenLifeUnitsRestored}} units.
    </div>
  </div>
</ng-template>

<ng-template #roundInfoMsg
             let-log="log">
  <div style="padding: 8px; text-align: center;">
    {{log.message}}
  </div>
</ng-template>
