<div class="history-panel">
  Battle Log:

  <div class="history-log"
       #historyLog>
    <div *ngFor="let historyEntry of battleLogService.history">
      <ng-container [ngSwitch]="historyEntry.type">
        <div *ngSwitchCase="types.SimpleMsg">
          <ng-container *ngTemplateOutlet="simple; context: { log: historyEntry }" />
        </div>

        <div *ngSwitchCase="types.RoundInfoMsg">
          <ng-container *ngTemplateOutlet="roundInfoMsg; context: { log: historyEntry }" />
        </div>

        <div *ngSwitchCase="types.DealtDamageMsg">
          <ng-container *ngTemplateOutlet="dealtDamageLog; context: { log: historyEntry }" />
        </div>
      </ng-container>
    </div>
  </div>
</div>

<!-- todo: rework, pass custom html -->
<ng-template #simple
             let-log="log">
  {{log.message}}
</ng-template>

<ng-template #dealtDamageLog
             let-log="log">
  <div>
    <span [style.color]="log.attackingPlayer.color">{{log.attackersNumber}} {{log.attacker.name}}</span>
    deal {{log.damage}} damage to
    <span [style.color]="log.attackedPlayer.color">{{log.attackedNumber}} {{log.attacked.name}}</span>
    , killing {{log.losses}} units
    <div *ngIf="log.damageBlocked">
      {{log.damageBlocked}} damage was blocked
    </div>
    <div *ngIf="log.stolenLife">
      <span [style.color]="log.attackingPlayer.color">{{log.attackersNumber}} {{log.attacker.name}}</span>
      steal {{log.stolenLife}} life, reviving {{log.stolenLifeUnitsRestored}} units.
    </div>
  </div>
</ng-template>

<ng-template #roundInfoMsg
             let-log="log">
  <div style="padding: 8px; text-align: center;">
    {{log.message}}
  </div>
</ng-template>
