:host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.main-container {
  margin: 8px;
  display: flex;
  flex-grow: 1;
}

.bottom-container {
  display: flex;
}

.players {
  width: 100%;
  height: 200px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.players-row {
  display: flex;
  padding: 7px 15px 3px;
  align-items: center;
  font-size: 13px;

  &.player:hover {
    background-color: rgba(39, 39, 39, 0.144);
  }

  > .name {
    flex: 0.1 0 80px;

    flex: 0 0 100px;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    user-select: none;

    > mw-ra-icon {
      font-size: 28px;
      margin-right: 2px;
    }
  }

  &.player > .name {
    padding-bottom: 6px;
  }
  > .faction {
    flex: 0.1 0 140px;
    display: flex;
    justify-content: center;
  }

  > .hero {
    flex: 0.1 0 140px;
    display: flex;
    justify-content: center;
  }

  > .color {
    display: flex;
    justify-content: center;
    flex: 0.1 0 140px;
  }
}

.item-icon {
  width: 72px;
  height: 42px;
  background-color: rgb(84, 84, 89);
  color: white;
  display: flex;
  font-size: 30px;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  cursor: pointer;

  &.hero-icon {
    background-size: cover;
    background-position: center center;
  }
}

.hero-option {
  padding: 2px;
  cursor: pointer;
}

.color-item {
  width: 64px;
  height: 36px;
  cursor: pointer;

  &:not(:last-of-type) {
    margin-bottom: 2px;
  }
}

mw-res-label {
  display: flex;
}

.icon-subtext {
  font-size: 9px;
  text-align: center;
  display: block;
}

.buttons {
  padding: 20px;
  display: flex;
  margin-left: auto;
}

.player {
  display: flex;
}

.right-panel {
  flex: 0.1 0 300px;
  padding: 10px;
  font-size: 14px;
  text-align: center;

  .hero-description {
    padding-top: 16px;

    .hero-icon {
      font-size: 20px;
    }

    .hero-stats {
      display: flex;

      .column {
        font-size: 13px;
        flex: 1 0 100px;
        text-align: left;
        padding-left: 53px;
      }
    }

    .description {
      font-size: 12px;
      margin-top: 8px;
      font-size: 12px;
      margin-top: 8px;
      padding: 6px 20px;
      border-top: 1px solid gainsboro;
    }
  }
}

mw-action-hint {
  position: fixed;
  bottom: 50px;

  left: 0;
  right: 0;
}
