<div class="main-container">
  <div class="players">
    <div class="players-row">
      <div class="name">
        Player:
      </div>

      <div class="fraction">
        Fraction:
      </div>

      <div class="hero">
        Hero:
      </div>

      <div class="color">
        Color:
      </div>
    </div>

    <div class="player players-row">
      <div class="name">Player 1</div>

      <div class="fraction">
        <mw-menu [menuBody]="fractionsMenu"
                 [pos]="'below'">
          <div *ngIf="selectedFraction; else randomFraction">
            <mw-ra-icon class="item-icon"
                        [icon]="selectedFraction.icon" />

            <span class="icon-subtext">{{selectedFraction.title}}</span>
          </div>

          <ng-template #randomFraction>
            <div>
              <mw-ra-icon class="item-icon"
                          icon="perspective-dice-four" />

              <span class="icon-subtext">Random</span>
            </div>
          </ng-template>
        </mw-menu>

        <ng-template #fractionsMenu>
          <mw-ra-icon (click)="selectFraction()"
                      class="item-icon"
                      icon="perspective-dice-four" />

          <mw-ra-icon *ngFor="let fraction of playableFractions"
                      (click)="selectFraction(fraction)"
                      class="item-icon"
                      [icon]="fraction.icon" />
        </ng-template>
      </div>

      <div class="hero">
        <mw-menu [menuBody]="heroesMenu"
                 [pos]="'below'">
          <div *ngIf="selectedHero; else randomFraction">
            <!-- todo: introduce component for character icon -->
            <div [style.background-image]="'url(\'assets/' + selectedHero.image + '\')'"
                 class="item-icon hero-icon">
            </div>

            <span class="icon-subtext">{{selectedHero.name}}</span>
          </div>

          <ng-template #randomHero>
            <div>
              <mw-ra-icon class="item-icon"
                          icon="perspective-dice-four" />

              <span class="icon-subtext">Random</span>
            </div>
          </ng-template>
        </mw-menu>

        <ng-template #heroesMenu>
          <div style="display: flex; max-width: 216px; justify-content: center; flex-wrap: wrap;">
            <div>
              <mw-ra-icon (click)="selectHero(null)"
                          class="item-icon"
                          icon="perspective-dice-four" />

              <span class="icon-subtext">Random</span>
            </div>

            <div *ngFor="let hero of heroes">
              <div (click)="selectHero(hero)"
                   [style.background-image]="'url(\'assets/' + hero.image + '\')'"
                   class="item-icon hero-icon">
              </div>
              <span class="icon-subtext">{{hero.name}}</span>
            </div>
          </div>
        </ng-template>
      </div>

      <div class="color">
        <mw-menu [menuBody]="colorsMenu"
                 pos="below">

          <div style="position: relative; top: -6px;"
               class="color-item"
               [style.background]="pickedColor">
          </div>

        </mw-menu>

        <ng-template #colorsMenu>
          <div *ngFor="let color of colors"
               class="color-item"
               [style.background]="color"
               (click)="pickColor(color)">
          </div>
        </ng-template>
      </div>
    </div>
  </div>

  <div class="right-panel">
    <div class="hero-description">
      <div class="name">Hero</div>

      <div *ngIf="selectedHero; else randomHeroDescr">
        <div>
          {{selectedHero.name}}
        </div>

        <mw-ra-icon class="hero-icon"
                    icon="aura" />

        <div class="hero-stats">
          <div class="column">
            <div>
              <mw-ra-icon icon="sword" />

              {{selectedHero.initialState.stats.baseAttack}}
            </div>

            <div>
              <mw-ra-icon icon="shield" />

              {{selectedHero.initialState.stats.baseDefence}}
            </div>

            <div>
              <mw-ra-icon icon="crystal-ball" />

              {{selectedHero.initialState.stats.mana}}
            </div>
          </div>

          <div class="column">
            <div style="margin-top: 16px;">
              <div>
                Gold: {{selectedHero.initialState.resources.gold}}
              </div>
              <div>
                Wood: {{selectedHero.initialState.resources.wood}}
              </div>
            </div>
          </div>
        </div>

        <div class="description">
          <mw-description [descriptions]="[selectedHero.generalDescription]" />
        </div>
      </div>
    </div>

    <ng-template #randomHeroDescr>
      <div>
        <div>Random Hero</div>
        <mw-ra-icon class="hero-icon"
                    icon="perspective-dice-four" />

        <div class="description">
          <span *ngIf="selectedFraction; else allRandomHero">
            Play as random hero of {{selectedFraction.title}} fraction.
          </span>

          <ng-template #allRandomHero>
            <span>Play as random hero of any fraction.</span>
          </ng-template>
        </div>
      </div>
    </ng-template>
  </div>
</div>

<div class="bottom-container">
  <div class="buttons">
    <button mw-main-button
            (click)="startGame()">
      Start game
    </button>

    <button mw-main-button
            (click)="returnToMainScreen()">
      Return
    </button>
  </div>
</div>
