:host {
  display: block;
  max-width: 100%;
  padding: 10px;
  background: rgb(100, 120, 187);
  color: white;
  text-align: center;
  margin: 4px;
  cursor: pointer;
  user-select: none;
}

:host:hover {
  background: rgb(90, 103, 147);
}

:host:active {
  background: rgb(79, 90, 126);
}
