.item-list {
  display: flex;
  gap: 8px;
  justify-content: center;
}

.header {
  text-align: center;
}

.item {
  border: 1px solid gray;
  border-radius: 4px;

  padding: 4px;
  font-size: 13px;
  cursor: pointer;
  max-width: 94px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
