<mw-popup-base-content>
  <div popupHeader>
    <div style="text-align: center; padding-bottom: 20px;">
      Select Item
    </div>
  </div>

  <div popupContent>
    <div class="reward-container">
      @for (items of itemGroups; track items) {
        <div class="items-group" [class.selected]="items === selectedGroup"
          (click)="setSelectedGroup(items)">
          @for (item of items; track item) {
            <div style="display: flex; flex-direction: column; align-items: center;">
              <mw-item-icon [item]="item" [hintPos]="'above'" />
              <div style="font-size: 11px; text-align: center;">
                {{item.baseType.name}}
              </div>
            </div>
          }
        </div>
      }
    </div>
  </div>

  <div popupButtons style=" padding-top: 18px">
    <button mw-main-button [disabled]="!selectedGroup" (click)="onSubmit()">
      Submit
    </button>
  </div>
</mw-popup-base-content>
