@keyframes overlay-appear {
    0% {
        background-color: rgba(0, 0, 0, 0);
    }

    100% {
        background-color: rgba(0, 0, 0, 0.655);
    }
}

.popups-container {
    left: 0;
    top: 0;
    position: fixed;
    height: 100%;
    width: 100%;
}

.overlay {
    left: 0;
    top: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    animation: overlay-appear 1s;
    animation-fill-mode: forwards;
}

.popup {
    position: absolute;
    // height: 240px;
    padding: 16px;
    min-width: 400px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
}

.header {
    text-align: center;
    padding-bottom: 16px;
}

.losses-container {
    display: flex;
    justify-content: center;
}

.loss-card {
    width: 72px;
    height: 72px;
    background-color: gray;
    border-radius: 6px;
    color: white;
    margin: 4px;
    text-align: center;
    padding: 12px 0;
    font-size: 13px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

