<div *ngIf="popups.length" class="overlay"></div>

<div *ngIf="popups.length" class="popups-container">
    <ng-container *ngFor="let popup of popups">
        <ng-container [ngSwitch]="popup.type">
            <ng-container *ngSwitchCase="popupTypes.FightEnds">
                <ng-container *ngTemplateOutlet="fightEndsPopup; context: {popup: popup}"></ng-container>
            </ng-container>

            <ng-container *ngSwitchCase="popupTypes.StructResourcesReward">
                <ng-container *ngTemplateOutlet="resourcesReward; context: {popup: popup}"></ng-container>
            </ng-container>

            <ng-container *ngSwitchCase="popupTypes.HiringReward">
                <ng-container *ngTemplateOutlet="hiringReward; context: {popup: popup}"></ng-container>
            </ng-container>

            <ng-container *ngSwitchCase="popupTypes.Prefight">
                <ng-container *ngTemplateOutlet="prefightPopup; context: {popup: popup}"></ng-container>
            </ng-container>

            <ng-container *ngSwitchCase="popupTypes.Preview">
                <ng-container *ngTemplateOutlet="previewPopup; context: {popup: popup}"></ng-container>
            </ng-container>

            <ng-container *ngSwitchCase="popupTypes.ItemReward">
                <ng-container *ngTemplateOutlet="itemReward; context: {popup: popup}"></ng-container>
            </ng-container>
        </ng-container>
    </ng-container>
</div>


<ng-template #prefightPopup let-popup="popup">
    <div class="popup">
        <mw-pre-fight-popup (close)="removePopup(popup)" [popup]="popup"></mw-pre-fight-popup>
    </div>
</ng-template>

<ng-template #previewPopup let-popup="popup">
    <div class="popup">
        <mw-preview-popup (close)="removePopup(popup)" [popup]="popup"></mw-preview-popup>
    </div>
</ng-template>

<ng-template #fightEndsPopup let-popup="popup">
    <div class="popup">
        <mw-post-fight-reward-popup [popup]="popup" (close)="removePopup(popup)"></mw-post-fight-reward-popup>
    </div>
</ng-template>

<ng-template #resourcesReward let-popup="popup">
    <div class="popup">
        <mw-resources-reward-popup [popup]="popup" (close)="removePopup(popup)"></mw-resources-reward-popup>
    </div>
</ng-template>

<ng-template #hiringReward let-popup="popup">
    <div class="popup">
        <mw-hiring-reward-popup [popup]="popup" (close)="removePopup(popup)"></mw-hiring-reward-popup>
    </div>
</ng-template>

<ng-template #itemReward let-popup="popup">
    <div class="popup">
        <mw-item-reward-popup [popup]="popup" (close)="removePopup(popup)"></mw-item-reward-popup>
    </div>
</ng-template>