<div class="effects">
    <ng-content></ng-content>

    <ng-container *ngFor="let effect of effects">
        <ng-container [ngSwitch]="effect.type">
            <ng-container *ngSwitchCase="effectTypes.Damage">
                <ng-container *ngTemplateOutlet="damageVfx; context: { effect }"></ng-container>
            </ng-container>
        </ng-container>
    </ng-container>
</div>

<ng-template #damageVfx let-effect="effect">
    <div class="damage-vfx" style="display: flex">
        <mw-ra-icon icon="sword"></mw-ra-icon>
        -{{effect.lossNumber}}
    </div>
</ng-template>