<div class="header">
  Exchange Gain gold
  <div>Earned: {{ playerTrader.costInGold() }}</div>
  <div>Spent: {{ marketTrader.costInGold() }}</div>

  {{ dealCost() }}
</div>

<div class="trading">
  @for (trader of traders; track $index) {
    <div class="trader">
      {{ trader.title }}
      <div class="resources">
        @for (resEntry of trader.trader.resourceEntries(); track $index) {
          <div class="resource">
            <div>
              <mw-res-label
                [resType]="resEntry.resType"
                [amount]="resEntry.max"
              />
            </div>

            <div *ngIf="!resEntry.isGold">
              <input
                type="range"
                step="1"
                min="0"
                [max]="resEntry.max"
                [(ngModel)]="resEntry.count"
              />
              {{ resEntry.count() }}
            </div>
          </div>
        }
      </div>
    </div>
  }
</div>

<div class="buttons">
  <button mw-main-button [disabled]="!canTrade()" (click)="trade()">
    Trade
  </button>
  <button mw-main-button (click)="close()">Leave</button>
</div>
