<div class="header">Exchange Gain gold: {{ goldEarned() }}</div>

<div class="trading">
  <div class="trader">
    Selling:
    <div class="resources">
      @for (resEntry of playerResources(); track $index) {
        <div class="resource">
          {{ resEntry.name }}:

          <input
            type="range"
            step="1"
            min="0"
            [max]="resEntry.max"
            [(ngModel)]="resEntry.count"
          />
          {{ resEntry.count() }}
        </div>
      }
    </div>
  </div>
  <div class="trader">
    Buying:
    <div class="resources">
      @for (resEntry of marketResources(); track $index) {
        <div class="resource">
          {{ resEntry.name }}:

          <input
            type="range"
            step="1"
            min="0"
            [max]="resEntry.max"
            [(ngModel)]="resEntry.count"
          />
          {{ resEntry.count() }}
        </div>
      }
    </div>
  </div>
</div>

<div class="buttons">
  <button mw-main-button>Trade</button>
  <button mw-main-button (click)="close()">Leave</button>
</div>
