<mw-menu [menuBody]="itemsMenuBody"
         pos="below">
  <div *ngIf="isEquipped; else isUnequipped">
    <mw-item-icon class="hoverable"
                  [item]="equippedItem!"
                  [hintPos]="hintPos" />
  </div>

  <ng-template #isUnequipped>
    <mw-item-icon-base class="hoverable"
                       bgColor="white"
                       itemColor="gray"
                       [icon]="slotInfo.icon" />
  </ng-template>
</mw-menu>

<ng-template #itemsMenuBody>
  <ng-container *ngIf="availableItemsForSlot.length; else noItemsForSlot">
    <div class="items-menu">
      <mw-item-icon-base class="hoverable"
                         bgColor="white"
                         itemColor="gray"
                         icon="cancel"
                         (click)="unequipSlot()" />

      <mw-item-icon *ngFor="let item of availableItemsForSlot"
                    class="hoverable"
                    [item]="item"
                    hintPos="above"
                    (click)="equipItem(item)" />
    </div>
  </ng-container>
</ng-template>

<ng-template #noItemsForSlot>
  <div class="no-items">
    No items For "{{slotInfo.name}}" slot
  </div>
</ng-template>
