<mw-menu [menuBody]="itemsMenuBody"
  pos="below">
  @if (isEquipped) {
    <div>
      <mw-item-icon class="hoverable"
        [item]="equippedItem!"
        [itemBase]="equippedItem!.baseType"
        [hintPos]="hintPos" />
      </div>
    } @else {
      <mw-item-icon-base class="hoverable"
        bgColor="white"
        itemColor="gray"
        [icon]="slotInfo.icon" />
      }

    </mw-menu>

    <ng-template #itemsMenuBody>
      @if (availableItemsForSlot.length) {
        <div class="items-menu">
          <mw-item-icon-base class="hoverable"
            bgColor="white"
            itemColor="gray"
            icon="cancel"
            (click)="unequipSlot()" />
            @for (item of availableItemsForSlot; track item) {
              <mw-item-icon
                class="hoverable"
                [item]="item"
                [itemBase]="item.baseType"
                hintPos="above"
                (click)="equipItem(item)" />
            }
          </div>
        } @else {
          <div class="no-items">
            No items For "{{slotInfo.name}}" slot
          </div>
        }
      </ng-template>

