:host {
  position: relative;
  user-select: none;
  display: inline-block;

  &.to-right {
    scale: -1 1;
  }

  >.portrait-frame {
    height: 130px;
    width: 121px;
  }

  >.portrait {
    position: absolute;
    z-index: -1;

    left: 30px;
    width: 64px;
    height: 83px;
    top: 20px;
  }

  &.is-hero {
    >.portrait {
      width: 72px;
      height: 72px;
    }

    &.big {
      >.portrait {
        width: 91px;
        height: 91px;
      }
    }
  }

  &.big {
    >.portrait-frame {
      height: 170px;
      width: 144px;
    }

    >.portrait {
      width: 78px;
      height: 102px;
      top: 26px;
    }
  }

}
