.underlay {
  background-color: #e9e9e9;
  z-index: -3;
  position: absolute;
  user-select: none;
}


canvas {
  position: absolute;
  // Can be animated potentially
  // transition: 0.2s;
  user-select: none;

  &.map-canvas {
    background: whitesmoke;
    z-index: -2;
  }

  &.fog-canvas {
    z-index: 1;
    pointer-events: none;
  }
}
