<div style="text-align: center; padding-bottom: 20px;">
  Select Item
</div>

<div class="reward-container">
  <div class="items-group"
       *ngFor="let items of itemGroups"
       [class.selected]="items === selectedGroup"
       (click)="setSelectedGroup(items)">
    <mw-item-icon *ngFor="let item of items"
                  [item]="item"
                  [hintPos]="'above'" />
  </div>
</div>

<div style="display: flex; justify-content: center; padding-top: 18px">
  <button [disabled]="!selectedGroup"
          (click)="onSubmit()">
    Submit
  </button>
</div>
