<div class="dialog-header">
  Select your activities and specialties for this week
</div>

<div class="categories">
  @for (category of categories(); track $index) {
    <div class="category">
      <div>{{ category.name }}</div>

      <div class="activities">
        @for (activity of category.activityBases; track $index) {
          <div class="activity">
            {{ activity.name }}
            <hr />
            <div class="type">
              (
              @switch (activity.type) {
                @case (ActivityType.FullWeek) {
                  Active during the week
                }
                @case (ActivityType.WeekEnd) {
                  End of the week
                }
                @case (ActivityType.WeekStart) {
                  Start of the week
                }
              }
              )
            </div>

            <div class="description">
              {{ activity.description }}
            </div>
          </div>
        }
      </div>
    </div>
  }
</div>
