<mw-popup-base-content>
  <div popupHeader>
    Units Orientation
  </div>

  <div popupContent>
    <ng-container *ngFor="let orientOption of orientationOptions">
      <div>
        <input [id]="'orient-' + orientOption.value" type="radio" name="orientation" [value]="orientOption.value"
          (click)="setOrientation(orientOption.value)" [checked]="settings.orientation === orientOption.value">

        <label [for]="'orient-' + orientOption.value">{{orientOption.label}}</label>
      </div>
    </ng-container>

    <button mw-main-button (click)="loadScriptByPath()">
      Load Script By Path
    </button>

    <button mw-main-button (click)="loadScript()">
      Load Mod
    </button>
  </div>

  <div popupButtons>


    <button mw-main-button (click)="close()">
      Close
    </button>
  </div>
</mw-popup-base-content>
