<mw-popup-base-content>
  <div popupHeader>
    {{data.title}}
  </div>

  <div popupContent>
    <div class="sub-info">
      <p>{{data.subTitle}}</p>
    </div>

    <div class="rewards">
      <div class="reward" *ngFor="let reward of data.rewards" [class.active]="reward === activeReward"
        (click)="setActiveReward(reward)">

        <mw-ra-icon [icon]="reward.display.icon" />

        <div class="reward-title">{{reward.display.title}}</div>

      </div>
    </div>
  </div>

  <div popupButtons>
    <button [disabled]="!activeReward" (click)="acceptReward()">
      Accept
    </button>
  </div>
</mw-popup-base-content>
