<mw-popup-base-content>
  <div popupHeader>
    {{data.title}}
  </div>

  <div popupContent>
    <div class="sub-info">
      <p>{{data.subTitle}}</p>
    </div>

    <div class="rewards">
      @for (reward of data.rewards; track reward) {
        <div class="reward" [class.active]="reward === activeReward"
          (click)="setActiveReward(reward)">
          <mw-ra-icon [icon]="reward.display.icon" />
          <div class="reward-title">{{reward.display.title}}</div>
        </div>
      }
    </div>
  </div>

  <div popupButtons>
    <button mw-main-button [disabled]="!activeReward" (click)="acceptReward()">
      Accept
    </button>
  </div>
</mw-popup-base-content>
