.centered-panel {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 16px;

    max-height: 100%;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
}

.structure {
    width: 100px;
    // min-height: 64px;
    margin: 10px;
    border-radius: 6px;
    background: gray;
    color: white;
    padding: 14px;
    cursor: pointer;
}

.guards {
    font-size: 13px;
}

.inactive {
    opacity: 0.5;
}

.player-info-panel {
    position: fixed;
    left: 0;
    bottom: 0;
}