<div>
    <div class="resource-info-row">
        <div>Gold:</div>
        <div>{{currentPlayer.resources.gold}}</div>
    </div>
    <div class="resource-info-row">
        <div>Wood:</div>
        <div>{{currentPlayer.resources.wood}}</div>
    </div>
    <div class="resource-info-row">
        <div>Red Crystals:</div>
        <div>{{currentPlayer.resources.redCrystals}}</div>
    </div>
    <div class="resource-info-row">
        <div>Gems:</div>
        <div>{{currentPlayer.resources.gems}}</div>
    </div>

    <div class="resource-info-row">
        <div>Mana:</div>
        <div>{{currentPlayer.hero.stats.currentMana}}/{{currentPlayer.hero.stats.maxMana}}</div>
    </div>
</div>