<div class="header">
    Select Reward:
</div>

<div class="reources-rewards">
    <div class="resource-column" *ngFor="let resourceGroup of resourceGroups"
        (click)="setCurrentReward(popup, resourceGroup)"
        [class.selected]="popup.selectedRewardGroup === resourceGroup">

        <div class="resource-card" *ngFor="let resource of resourceGroup">
            <div>
                {{resource.type}}
            </div>
            <div>
                {{resource.count}}
            </div>
        </div>
    </div>
</div>

<button style="margin: auto; display: block;" [disabled]="!popup.selectedRewardGroup" (click)="confirmResources(popup)">Confirm</button>
